@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .Inter{
        font-family: 'Inter', sans-serif;
    }
    .Rethink{
        font-family: 'Rethink', sans-serif;
    }
    body {
        overflow-x: hidden;
      }
      
}
@font-face {
    font-family: 'Inter';
    src: url(./fonts/Inter.ttf) format('truetype');
}
@font-face {
    font-family: 'Rethink';
    src: url(./fonts/RethinkSans.ttf) format('truetype');
}
/* overwrite colors for side-panel tabs */

.polotno-side-tabs-container .polotno-side-panel-tab:hover,
.polotno-side-tabs-container .polotno-side-panel-tab.active {
  background-color: #fff;
  margin-left: 10px;
  border-radius: 5px 0px 0px 5px;
  color: black !important;
}
.go3960841851 {
    background-color: #fff !important;
    box-shadow: none !important;
}
@media screen and (min-width: 501px) {
    .go806284747 {
        overflow-y: auto;
        overflow-x: hidden;
        min-width: 100px !important;
        background-color: #f7e7e6;
    }
    
    /* .go806284747::-webkit-scrollbar{
        display: none;
    } */
}
.go806284747 .polotno-side-tabs-container{
    background-color: #f7e7e6;
}
.bp5-dark{
    background-color: #f7e7e6;
}
/* change hover style of all buttons */
.bp5-dark .bp5-button:not([class*='bp5-intent-']):hover {
  background-color: #ef8a80;
}

.bp5-dark .bp5-button.bp5-minimal{
    color: #ef8a80;
}
.bp5-dark .bp5-control {
    color: #000000;
}
.bp5-button:disabled::before, .bp5-button:disabled .bp5-icon, .bp5-button:disabled .bp5-icon-standard, .bp5-button:disabled .bp5-icon-large, .bp5-button.bp5-disabled::before, .bp5-button.bp5-disabled .bp5-icon, .bp5-button.bp5-disabled .bp5-icon-standard, .bp5-button.bp5-disabled .bp5-icon-large, .bp5-button[class*=bp5-intent-]::before, .bp5-button[class*=bp5-intent-] .bp5-icon, .bp5-button[class*=bp5-intent-] .bp5-icon-standard, .bp5-button[class*=bp5-intent-] .bp5-icon-large {
    color: black !important;
}
.bp5-button-text{
    color: black;
}
.bp5-dark .go820983500 .polotno-text-preview-plain {
    filter: invert(0) !important; 
}
.bp5-dark {
    color-scheme: white;
}
.bp5-dark .go3136444743 .fill {
    fill: white !important;
}
.go3244416805 {
    padding:15px 0px !important;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.go1222219977{
    padding-bottom: 20px;
    gap:5px;
}